extends include/template.jade

block content
  article.news-feed.clearfix
    figure.news-line__news
      .news-header
        a: h2 Женский масс-старт посетило более 2000 зрителей
        time(pubdate) 14 фев 2015
      .news-photo.news-photo__1
      figcaption.news-annotation
        p Самкова в воскресном финале опередила канадку Доминик Мальте, которой досталось серебро, бронза у француженки Клоэ Треспёш.
    figure.news-line__news
      .news-header
        a: h2 Женский масс-старт посетило более 2000 зрителей
        time(pubdate) 14 фев 2015
      .news-photo.news-photo__2
      figcaption.news-annotation
        p Самкова в воскресном финале опередила канадку Доминик Мальте.
    figure.news-line__news
      .news-header
        a: h2 Женский масс-старт посетило более 2000 зрителей
        time(pubdate) 14 фев 2015
      .news-photo.news-photo__3
      figcaption.news-annotation
        p Самкова в воскресном финале опередила канадку Доминик Мальте.
    figure.news-line__news
      .news-header
        a: h2 Женский масс-старт посетило более 2000 зрителей
        time(pubdate) 14 фев 2015
      .news-photo.news-photo__4
      figcaption.news-annotation
        p Самкова в воскресном финале опередила канадку Доминик Мальте.
    figure.news-line__news
      .news-header
        a: h2 Женский масс-старт посетило более 2000 зрителей
        time(pubdate) 14 фев 2015
      .news-photo.news-photo__5
      figcaption.news-annotation
        p Самкова в воскресном финале опередила канадку Доминик Мальте, которой досталось серебро, бронза у француженки Клоэ Треспёш.
    figure.news-line__news
      .news-header
        a: h2 Женский масс-старт посетило более 2000 зрителей
        time(pubdate) 14 фев 2015
      .news-photo.news-photo__6
      figcaption.news-annotation
        p Самкова в воскресном финале опередила канадку Доминик Мальте.