extends include/template

block content
  .news-feed
    .news-line__news
      .news-header
      .news-photo
      .news-annotation
    .news-line__news
    .news-line__news
    .news-line__news
    .news-line__news
    .news-line__news