doctype html
html(lang="ru")
  head
    title= testngs
    script(src='http://localhost:35729/livereload.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic-ext', type='text/css')>
    link(rel='stylesheet', href='css/style.less', type='text/css')
  body
    block content